<h1>Modify Schedule</h1>
<h3>(<i>Note: AM students don't have 4th and 5th; PM students don't have 1st and 2nd.</i>)</h3>
<%= render 'form' %>

<%= link_to 'Show', @sked %> |
<%= link_to 'Back', skeds_path %>
